# Server Configuration
PORT=3001
NODE_ENV=development
JWT_SECRET=saksham@sharma
FIREBASE_PROJECT_ID=user_secret
FIREBASE_PRIVATE_KEY_ID=firebase_id
FIREBASE_PRIVATE_KEY=firebase-key
FIREBASE_CLIENT_ID=client-id
FIREBASE_CLIENT_CERT_URL=client_cert_url
FIREBASE_CLIENT_EMAIL= firebaseclientid
FIREBASE_DATABASE_URL=firbase_data
GEMINI_API_KEY=gemini_api